li {
  border: 2px solid #92a0a4;
  border-radius: 3px;
  margin-top: 5%;
  padding: 5%;
  list-style: none;
  text-align: center;


  p {
    font-family: cursive;
  }

}

nav {
  width: 70%;
}

ul {
  padding-left: 45%;
  clear: both;
}

img {
  width: 100px;
  float: left;

}
